.venv
web/dist
web/node_modules
__pycache__
web/.cache
web/.vscode
web/.pytest_cache
*.db
*.sqlite3
*.log
*.pyc
*.pyo
*.egg-info
*.egg
*.egg-deploy
*.egg-link
*.egg-sample
*.db-journal
*.db-wal
*.db-shm
*.db-mutex